@import '../../../style-vars.scss';

.macro-table {
    width: 100%;

    tr.mat-header-row {
        height: unset;
        th {
            padding-top: 1ch;
            padding-bottom: 1ch;
        }
    }

    th, td:not(:first-child) {
        text-align: center;
    }

    .mat-header-cell, .mat-cell {
        &:first-child {
            padding-left: var(--default-padding);
        }
        &:last-child {
            padding-right: 0;
        }
    }

    td {
        position: relative;

        .vis-pctg-indicator {
            position: absolute;
            bottom: 0;
            width: 100%;
        
            &.cal {
                background: var(--cal-clr-light);
            }
        
            &.fat {
                background: var(--fat-clr-light);
            }
            
            &.carbs {
                background: var(--carbohydrate-clr-light);
            }
            
            &.protein {
                background: var(--protein-clr-light);
            }
        }
    }
}