.header {
    display: grid;
    grid-template-columns: 1fr min-content;

    h3 {
        margin: 0
    }
}

.brand {
    color: rgba(0,0,0,.54);
    font-size: 1.15em;
    margin: 0;
}

h4{
    font-size: 1.1rem;
}

.caloric-breakdown-header {
    display: grid;
    grid-template-columns: 1;


    @media (min-width: 380px) {
        grid-template-columns: 1fr min-content;
    }
}

.macros {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: var(--default-padding);
}

.nutrients-header {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 1ch;
    align-items: flex-end;

    h4 {
        margin: 0
    }

    .nutrients-per-label {
        font-style: italic;
    }

}

.nutrients-table-container {
    max-height: 300px;
    overflow: auto;
}

#nutrients-table {
    width: 100%;
}

#nutrient-filter {
    width: 100%;
}

.align-right {
    text-align: right;
}