<div class="sticky-container">
    <div class="search-bar-container">
        <app-search-bar></app-search-bar>
    </div>
    <mat-selection-list #resultsList [multiple]="false">
        <mat-list-option *ngFor="let food of results?.foods" (click)="foodSelected(food)"
            [selected]="food.fdcId === selectedFood?.fdcId">
            <div class="description">{{food.description}}</div>
            <div class="brand-owner">{{food.brandOwner}}</div>

        </mat-list-option>
    </mat-selection-list>
</div>