@import '../../../style-vars';

.sticky-container {
    position: sticky;
    top: var(--default-padding);
    background-color: rgb(242, 242, 242);
}

.search-bar-container {
    padding: var(--default-padding);
    padding-bottom: 0;
}

mat-selection-list {
    overflow-y: auto;
    height: calc( 100vh - var(--header-height)*2 - var(--default-padding)*3);

}

.description {
    font-size: .75rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.brand-owner {
    color: rgba(0,0,0,.54);
    font-size: .5rem;
}
