@import '../style-vars.scss';

::ng-deep :root {
    --header-height: 64px;
  
    @media (max-width: 599px) {
      --header-height: 56px;
    }
  }


.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.scrolling-content {
    // to match the toolbar heading
    position: relative;
    top: var(--header-height);
    height: calc(100vh - var(--header-height));
    overflow: auto;
}

.full-height-content-container {
  position: relative;
  height: calc(100vh - var(--header-height)*2)
}

.page-title {
  font-weight: normal;
  font-size: 1.2rem;

  .menu-toggle-icon+& {
    padding-left: var(--default-padding);
  }
}

.menu-toggle-icon {
  font-size: 2rem;
  // to align with page title
  margin-top: 4px;

}


// Nested Styles

// aligns the right side of the autocomplete panel with the right side of
// the the input so it doesn't overflow off the right side of the page
::ng-deep :root {
  .ac-panel  {
      width: unset;

      &.right {
        position: absolute;
        right: 0;
      }

      &.left {
        position: absolute;
        left: 0;
      }
  }
}

// Angular Material Customizations
::ng-deep :root {
  
  // Expansion Panel
  .mat-expansion-panel-header {
    padding-left: var(--default-padding);
    padding-right: var(--default-padding);
  }

}

