<mat-toolbar color="primary" class="header mat-elevation-z12">
    <h1>Calorie Composer</h1>
</mat-toolbar>
<div class="scrolling-content">
    <mat-toolbar color="primary">
        <span *ngIf="sideNavResponsiveMode === 'narrow'" class="menu-toggle-icon" (click)="sideNav.toggle()">
            <mat-icon [inline]="true">menu</mat-icon>
        </span>
        <h2 class="page-title">{{pageTitle}}</h2>
    </mat-toolbar>
    <mat-sidenav-container>
        <mat-sidenav #sideNav [mode]="sideNavMode" [opened]="sideNavOpened" [disableClose]="sideNavDisableClose">
            <mat-selection-list [multiple]="false">
                <mat-list-option *ngFor="let nav of navItems" [selected]="nav.id === activeNavId"
                    (click)="navigateTo(nav.destination)">
                    {{nav.label}}
                </mat-list-option>
            </mat-selection-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="full-height-content-container">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>

</div>