@import '../style-vars.scss';

::ng-deep :root {
    --header-height: 64px;
  
    @media (max-width: 599px) {
      --header-height: 56px;
    }
  }


.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.scrolling-content {
    // to match the toolbar heading
    position: relative;
    top: var(--header-height);
    height: calc(100vh - var(--header-height));
    overflow: auto;
}

.sections-container-container {
  position: relative;
  height: calc(100vh - var(--header-height)*2)
}

.page-title {
  font-weight: normal;
  font-size: 1.2rem;
}