<mat-toolbar color="primary" class="header mat-elevation-z12">
    <h1>Calorie Composer</h1>
</mat-toolbar>
<div class="scrolling-content">
    <mat-toolbar color="primary">
        <span *ngIf="sideNavResponsiveMode === 'narrow'" class="menu-toggle-icon" (click)="sideNav.toggle()">
            <mat-icon [inline]="true">menu</mat-icon>
        </span>
        <h2 class="page-title">{{pageTitle}}</h2>
    </mat-toolbar>
    <mat-sidenav-container>
        <mat-sidenav #sideNav [mode]="sideNavMode" [opened]="sideNavOpened" [disableClose]="sideNavDisableClose"
            id="menu">
            <mat-selection-list [multiple]="false" [compareWith]="compareWithFunc">
                <mat-list-option *ngFor="let nav of navItems;" [selected]="navMatchesEvent(nav)"
                    (click)="navigateTo(nav.destination)">
                    <div class="menu-item" class="indent-{{nav.nestedLevel}}">
                        <div [matBadge]="nav.badgeText" matBadgeSize="small" matBadgeOverlap="false"
                            matBadgePosition="after above" matBadgeColor="accent">{{nav.label}}
                        </div>
                        <mat-icon *ngIf="nav.iconName" class="menu-item__icon">
                            {{nav.iconName}}
                        </mat-icon>
                    </div>
                </mat-list-option>
            </mat-selection-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="full-height-content-container">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>