<ng-container [formGroup]="comboFoodForm">
    <ng-container [formGroup]="portionFormControl">
        <mat-card>
            <div class="portion">
                <!-- toggle household measure mode -->
                <button type="button" mat-icon-button color="primary" (click)="toggleHouseholdMeasureMode()">
                    <mat-icon *ngIf="portionFormControl.get('householdMeasureMode').value === 'unit-amount'">
                        flip
                    </mat-icon>
                    <mat-icon *ngIf="portionFormControl.get('householdMeasureMode').value === 'free-form'">
                        crop_din
                    </mat-icon>
                </button>

                <!-- household measure in unit-amount mode -->
                <ng-container *ngIf="portionFormControl.get('householdMeasureMode').value === 'unit-amount'">
                    <mat-form-field floatLabel="always" class="household-measure-amount">
                        <mat-label>Amount</mat-label>
                        <input matInput [appMask]="['non-negative', 'float-hundredths']" placeholder="16"
                            formControlName="householdAmount">
                    </mat-form-field>
                    <mat-form-field floatLabel="always" class="household-measure-unit">
                        <mat-label>Unit</mat-label>
                        <input matInput placeholder="pieces" formControlName="householdUnit">
                    </mat-form-field>
                </ng-container>

                <!-- household measure in free-form mode -->
                <ng-container *ngIf="portionFormControl.get('householdMeasureMode').value === 'free-form'">
                    <mat-form-field floatLabel="always" class="household-measure-free-form">
                        <mat-label>Amount</mat-label>
                        <input matInput placeholder="16 pieces" formControlName="householdMeasure">
                    </mat-form-field>
                </ng-container>

                <!-- metric measure -->
                <mat-form-field floatLabel="always" class="base-measure-amount">
                    <mat-label>Amount</mat-label>
                    <span matPrefix>(&nbsp;</span>
                    <input matInput [appMask]="['non-negative', 'float-hundredths']" placeholder="31"
                        formControlName="metricAmount">
                </mat-form-field>
                <mat-form-field floatLabel="always" class="base-measure-unit">
                    <mat-label>Unit</mat-label>
                    <input matInput placeholder="g" formControlName="metricUnit"
                        [matAutocomplete]="filteredAutocompleteComponent?.matAutocomplete">
                    <span matSuffix>&nbsp;)</span>
                    <app-filtered-autocomplete [filterChanges]="portionFormControl.get('metricUnit').valueChanges"
                        [autoCompleteOpts]="metricMeasureACOptions" [class]="'ac-panel right'">
                    </app-filtered-autocomplete>
                </mat-form-field>
            </div>

            <!-- is food amount ref portion -->
            <div class="split-row">
                <mat-slide-toggle formControlName="isFoodAmountRefPortion">Food Amount Reference</mat-slide-toggle>
                <button *ngIf="!portionFormControl.get('isServingSizePortion').value" type="button" mat-icon-button
                    color="primary" (click)="removeNonSSPortion()">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-card>
    </ng-container>
</ng-container>