@import '../../../style-vars.scss';

mat-form-field {
    width: 100%;
}

.portions-and-units-subsections {
    display: grid;
    // must be definitely sized to prevent grid blowout
    // https://css-tricks.com/preventing-a-grid-blowout/
    grid-template-columns: 100%;
    row-gap: var(--default-padding);
}

.split-subheader {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: var(--default-padding);

    h4 {
        margin-bottom: 0;
        font-weight: 500;
    }
}

.other-portions{
    display: grid;
    // must be definitely sized to prevent grid blowout
    // https://css-tricks.com/preventing-a-grid-blowout/
    grid-template-columns: 100%;
    row-gap: var(--default-padding);
}

.nutrients-table, .unit-conversions-table {
    width: 100%;

    .mat-header-cell, .mat-cell {
        &:first-child {
            padding-left: var(--default-padding);
        }
        &:last-child {
            padding-right: var(--default-padding);
        }
    }

    ::ng-deep{
        mat-form-field {
            // separate form-field underline at column line
            width: calc(100% - 1ch);

    
            // prevent table blowout
            .mat-form-field-infix {
                width: unset;
            }
        }
    }

    .icons {
        display: flex;
        justify-content: flex-end;
    }
}

.nutrients-table {

    .unit-form-field {
        max-width: 5ch;
    }

    .amount-form-field {
        max-width: 8ch;
    }
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

