@import '../../../style-vars.scss';

mat-form-field {
    width: 100%;
}

.portions-subsections {
    display: grid;
    // must be definitely sized to prevent grid blowout
    // https://css-tricks.com/preventing-a-grid-blowout/
    grid-template-columns: 100%;
    row-gap: var(--default-padding);
}

.split-subheader {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: var(--default-padding);

    h4 {
        margin-bottom: 0;
    }
}

.other-portions{
    display: grid;
    grid-template-columns: 100%;
    row-gap: var(--default-padding);
}

.nutrients-table {
    width: 100%;

    ::ng-deep{
        mat-form-field {
            // separate form-field underline at column line
            width: calc(100% - 1ch);
    
            // prevent table blowout
            .mat-form-field-infix {
                width: unset;
            }
        }
    }

    .icons {
        display: flex;
        justify-content: flex-end;
    }
}