<div *ngIf="!loading" [formGroup]="foodForm" class="sections-container">
    <section>
        <h3>Labeling</h3>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput placeholder="Ex. Pizza" formControlName="description">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Brand</mat-label>
            <input matInput placeholder="Ex. Pizza Hut" formControlName="brandOwner">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Ingredients</mat-label>
            <textarea matInput placeholder="Ex. MILK CHOCOLATE, DEXTRIN, CORN SYRUP, ..."
                formControlName="ingredients"></textarea>
        </mat-form-field>
    </section>

    <section>
        <h3 [ngClass]="{'mat-error': !conversionRatios.valid}">Portions and Units</h3>

        <div class="portions-and-units-subsections">
            <div>
                <div class="split-subheader">
                    <h4>Portions</h4>
                </div>
            </div>

            <div>
                <app-error-msg [ctrl]="conversionRatios"></app-error-msg>
                <div class="split-subheader">
                    <h4 [ngClass]="{'mat-error': !conversionRatios.valid}">Units</h4>
                    <button type="button" mat-icon-button color="primary" (click)="addConversionRatio()">
                        <mat-icon>add_to_photos</mat-icon>
                    </button>
                </div>
                <mat-accordion class="conversion-ratios" multi hideToggle="true">
                    <ng-container *ngFor="let cvRat of conversionRatios.controls; let i = index">
                        <mat-expansion-panel #exp (expandedChange)="checkExpansion($event, cvRat, exp)"
                            [ngClass]="{'mat-expansion-panel-invalid': cvRat.invalid && cvRatTouched(cvRat)}">
                            <mat-expansion-panel-header>
                                <mat-panel-title *ngIf="!exp.expanded">
                                    <span>
                                        {{getConversionRatioSideDisplayValue(cvRat, 'a')}}
                                        &nbsp;=&nbsp;
                                        {{getConversionRatioSideDisplayValue(cvRat, 'b')}}
                                    </span>
                                    <button type="button" mat-icon-button color="primary">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </mat-panel-title>
                                <mat-panel-title *ngIf="exp.expanded">
                                    <div>
                                        <button mat-stroked-button color="warn" (click)="removeConversionRatio(i)">
                                            <mat-icon>delete</mat-icon>&nbsp;Delete
                                        </button>
                                    </div>
                                    <div *ngIf="!usesFreeFormValue(cvRat)">
                                        <button mat-stroked-button color="primary" [disabled]="cvRat.invalid">
                                            <mat-icon>done</mat-icon>&nbsp;Done
                                        </button>
                                    </div>
                                    <div *ngIf="usesFreeFormValue(cvRat)">
                                        <button mat-stroked-button color="primary"
                                            (click)="convertFromFreeform($event, cvRat)"
                                            [disabled]="!readyToConvertFromFreeform(cvRat)">
                                            <mat-icon>save_alt</mat-icon>&nbsp;Enter
                                        </button>
                                    </div>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ng-container *ngIf="usesFreeFormValue(cvRat)">
                                <ng-container *ngFor="let side of getSidesUsingFreeFormValue(cvRat)">
                                    <p class="freeform-message">
                                        The portion "
                                        <span class="bold">{{getConversionRatioSideDisplayValue(cvRat, side)}}</span>
                                        " needs to be entered as a seperate amount and unit:
                                    </p>
                                    <div class="freeform-form">
                                        <mat-form-field floatLabel="never" class="amount-form-field">
                                            <input matInput [appMask]="['non-negative', 'float-hundredths']"
                                                placeholder="Amount"
                                                [formControl]="side === 'a' ? cvRat.get('amountA'): cvRat.get('amountB')">
                                        </mat-form-field>
                                        <mat-form-field floatLabel="never" class="unit-form-field">
                                            <input matInput placeholder="Unit"
                                                [formControl]="side === 'a' ? cvRat.get('unitA'): cvRat.get('unitB')"
                                                [matAutocomplete]="unitA">
                                            <mat-autocomplete #unitA="matAutocomplete"
                                                [displayWith]="ppConversionRatioUnit" class="ac-panel left">
                                                <ng-container *ngFor="let group of conversionRatioUnitACOptions">
                                                    <mat-option *ngFor=" let option of group.groupOptions"
                                                        [value]="option.value">
                                                        {{option.label}}
                                                    </mat-option>
                                                </ng-container>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </div>

                                </ng-container>
                            </ng-container>

                            <ng-container *ngIf="!usesFreeFormValue(cvRat)">
                                <div class="conversion-ratio-form">
                                    <div class="conversion-ratio-form__side-a">
                                        <mat-form-field floatLabel="never" class="amount-form-field">
                                            <input matInput [appMask]="['non-negative', 'float-hundredths']"
                                                placeholder="Ex. 1" [formControl]="cvRat.get('amountA')">
                                        </mat-form-field>
                                        <mat-form-field floatLabel="never" class="unit-form-field">
                                            <input matInput placeholder="Ex. serving size"
                                                [formControl]="cvRat.get('unitA')" [matAutocomplete]="unitA">
                                            <mat-autocomplete #unitA="matAutocomplete"
                                                [displayWith]="ppConversionRatioUnit" class="ac-panel left">
                                                <ng-container *ngFor="let group of conversionRatioUnitACOptions">
                                                    <mat-option *ngFor=" let option of group.groupOptions"
                                                        [value]="option.value">
                                                        {{option.label}}
                                                    </mat-option>
                                                </ng-container>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </div>
                                    <div class="conversion-ratio-form__equals">
                                        <span>&#61;</span>
                                    </div>
                                    <div class="conversion-ratio-form__side-b">
                                        <mat-form-field floatLabel="never" class="amount-form-field">
                                            <input matInput [appMask]="['non-negative', 'float-hundredths']"
                                                placeholder="Ex. 1.5" [formControl]="cvRat.get('amountB')">
                                        </mat-form-field>
                                        <mat-form-field floatLabel="never" class="unit-form-field">
                                            <input matInput placeholder="Ex. cups" [formControl]="cvRat.get('unitB')"
                                                [matAutocomplete]="unitB">
                                            <mat-autocomplete #unitB="matAutocomplete"
                                                [displayWith]="ppConversionRatioUnit" class="ac-panel left">
                                                <ng-container *ngFor="let group of conversionRatioUnitACOptions">
                                                    <mat-option *ngFor=" let option of group.groupOptions"
                                                        [value]="option.value">
                                                        {{option.label}}
                                                    </mat-option>
                                                </ng-container>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </div>
                                    <div *ngIf="cvRat.invalid">
                                        <app-error-msg [ctrl]="cvRat"></app-error-msg>
                                    </div>
                                </div>
                            </ng-container>

                        </mat-expansion-panel>
                    </ng-container>
                </mat-accordion>
            </div>
        </div>
    </section>

    <section>
        <h3>Nutrients</h3>
        <table mat-table [dataSource]="nutrientsDataSource" class="mat-elevation-z8 nutrients-table">

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="!element.get('editMode').value">
                        {{element.get('name').value}}
                    </ng-container>
                    <ng-container *ngIf="element.get('editMode').value">
                        <mat-form-field floatLabel="never">
                            <input matInput placeholder="Ex. Protein" [formControl]="element.get('name')"
                                [matAutocomplete]="nutrientName">
                            <mat-autocomplete #nutrientName="matAutocomplete" class="ac-panel left">
                                <mat-option *ngFor=" let option of nutrientNameACOptions" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </ng-container>
                </td>
            </ng-container>

            <!-- Amount Column -->
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> Amt </th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="!element.get('editMode').value">
                        {{element.get('scalar').value}}
                    </ng-container>
                    <ng-container *ngIf="element.get('editMode').value">
                        <mat-form-field floatLabel="never" class="amount-form-field">
                            <input matInput [appMask]="['non-negative', 'float-hundredths']" placeholder="3.5"
                                [formControl]="element.get('scalar')">

                        </mat-form-field>
                    </ng-container>
                </td>
            </ng-container>

            <!-- Unit Column -->
            <ng-container matColumnDef="unit">
                <th mat-header-cell *matHeaderCellDef> Unit </th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="!element.get('editMode').value">
                        {{element.get('unit').value}}
                    </ng-container>
                    <ng-container *ngIf="element.get('editMode').value">
                        <mat-form-field floatLabel="never" class="unit-form-field">
                            <input matInput placeholder="g" [formControl]="element.get('unit')"
                                [matAutocomplete]="nutrientUnit">
                            <mat-autocomplete #nutrientUnit="matAutocomplete" class="ac-panel right">
                                <mat-option *ngFor=" let option of nutrientUnitACOptions" [value]="option.value">
                                    {{option.label}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </ng-container>
                </td>
            </ng-container>

            <!-- Icons Column -->
            <ng-container matColumnDef="icons">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="icons">
                        <!-- Add Nutrient -->
                        <button *ngIf="!aNutrientIsBeingEdited" type="button" mat-icon-button color="primary"
                            (click)="addNutrient()">
                            <mat-icon>add_to_photos</mat-icon>
                        </button>
                    </div>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div class="icons">
                        <!-- Delete Nutrient -->
                        <button *ngIf="element.get('editMode').value === true" type="button" mat-icon-button
                            color="primary" (click)="removeNutrient(element.get('nutrientIndex').value)">
                            <mat-icon>delete</mat-icon>
                        </button>

                        <!-- Toggle Edit Mode -->
                        <button *ngIf="!aNutrientIsBeingEdited || element.get('editMode').value === true" type="button"
                            mat-icon-button color="primary" (click)="toggleNutrientEditMode(element)"
                            [disabled]="element.invalid">
                            <mat-icon *ngIf="element.get('editMode').value === false && !aNutrientIsBeingEdited">edit
                            </mat-icon>
                            <mat-icon *ngIf="element.get('editMode').value === true">done</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="nutrientsDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: nutrientsDisplayedColumns;"></tr>
        </table>
    </section>
    <section>
        <div class="form-buttons">
            <button mat-raised-button color="accent" (click)="cancel()">Cancel</button>
            <button mat-raised-button color="primary" [disabled]="foodForm.invalid" (click)="saveChanges()">Save
                Changes</button>
        </div>
    </section>
</div>