@import '../../../style-vars.scss';

mat-form-field {
    width: 100%;
}

.portions-and-units-subsections {
    display: grid;
    // must be definitely sized to prevent grid blowout
    // https://css-tricks.com/preventing-a-grid-blowout/
    grid-template-columns: 100%;
    row-gap: var(--default-padding);
}

.split-subheader {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: var(--default-padding);

    h4 {
        margin-bottom: 0;
        font-weight: 500;
    }
}

.other-portions{
    display: grid;
    // must be definitely sized to prevent grid blowout
    // https://css-tricks.com/preventing-a-grid-blowout/
    grid-template-columns: 100%;
    row-gap: var(--default-padding);
}

.nutrients-table, .unit-conversions-table {
    width: 100%;

    .mat-header-cell, .mat-cell {
        &:first-child {
            padding-left: var(--default-padding);
        }
        &:last-child {
            padding-right: var(--default-padding);
        }
    }

    ::ng-deep{
        mat-form-field {
            // separate form-field underline at column line
            width: calc(100% - 1ch);

    
            // prevent table blowout
            .mat-form-field-infix {
                width: unset;
            }
        }
    }

    .icons {
        display: flex;
        justify-content: flex-end;
    }
}

.nutrients-table {

    .unit-form-field {
        max-width: 5ch;
    }

    .amount-form-field {
        max-width: 8ch;
    }
}

.mat-expansion-panel {

    .mat-expansion-panel-header-title {
        margin-right: 0;
    }

    &:not(.mat-expanded) {

        .mat-expansion-panel-header-title {
            display:flex;
            justify-content: space-between;
    
            span {
                display: flex;
                align-items: center; /* align vertical */
            }
        }

    }

    &.mat-expanded {
        .mat-expansion-panel-header-title {
            display:grid;
            grid-template-columns: auto auto;
            column-gap: var(--default-padding);

            button{
                width:100%;
            }
        }
    }
}

.conversion-ratio-form {
    display: grid;

    .amount-form-field {
        min-width: 6ch;
    }

    .unit-form-field {
        width: auto;
    }

    .conversion-ratio-form__side-a, .conversion-ratio-form__side-b {
        display: grid;
        column-gap: 2ch;
        grid-template-columns: auto auto;

    }

    .conversion-ratio-form__equals {
        display: flex;
        justify-content: center;
        font-size: 2em;
    }

    
}


.form-buttons {
    display: flex;
    justify-content: space-between;
}

.mat-expansion-panel-invalid {
    background-color: var(--invalid-background);
    border: 1px solid red;
}

