<ng-container *ngIf="layoutMode === 'narrow'">
    <app-search-bar></app-search-bar>
    <app-narrow-search-results></app-narrow-search-results>
</ng-container>

<ng-container *ngIf="layoutMode === 'wide'">
    <div class="wide-container">
        <app-search-side-bar></app-search-side-bar>
        <div>
            {{selectedFood?.description}}
            <div>
                <button (click)="save()">Save to library (pantry?)</button>
            </div>
        </div>
    </div>
</ng-container>