<div class="sections-container">
    <ng-container *ngIf="layoutMode === 'narrow'">
        <section>
            <app-search-bar></app-search-bar>
        </section>
        <section>
            <app-narrow-search-results></app-narrow-search-results>
        </section>
    </ng-container>

    <ng-container *ngIf="layoutMode === 'wide'">
        <section>
            <div class="wide-container">
                <app-search-side-bar></app-search-side-bar>
                <div>
                    {{selectedFood?.description}}
                    <div>
                        <button (click)="save()">Save to library (pantry?)</button>
                    </div>
                </div>
            </div>
        </section>
    </ng-container>
</div>