<mat-autocomplete [class]="class" autoActiveFirstOption #unitAutoComplete="matAutocomplete">
    <ng-container *ngIf="(filteredAutoCompleteOpts | async).length > 1; then multiGroup else singleGroup">
    </ng-container>

    <!-- If there are multiple groups -->
    <ng-template #multiGroup>
        <mat-optgroup *ngFor="let group of filteredAutoCompleteOpts | async" [label]="group.groupLabel">
            <mat-option *ngFor=" let option of group.groupOptions" [value]="option.value">
                {{option.label}}
            </mat-option>
        </mat-optgroup>
    </ng-template>

    <!-- If there is just a single group (don't show groups) -->
    <ng-template #singleGroup>
        <ng-container *ngFor="let group of filteredAutoCompleteOpts | async">
            <mat-option *ngFor=" let option of group.groupOptions" [value]="option.value">
                {{option.label}}
            </mat-option>
        </ng-container>
    </ng-template>
</mat-autocomplete>