<ng-container [formGroup]="foodAmountCtrl">
    <mat-card>
        <mat-form-field>
            <!-- Food Name -->
            <mat-label>Food Name</mat-label>
            <input matInput placeholder="Ex. Peanut butter" formControlName="foodName" [matAutocomplete]="foodAC">
            <button mat-button *ngIf="foodAmountCtrl.get('foodName').value" matSuffix mat-icon-button
                (click)="foodAmountCtrl.get('foodName').setValue('')">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <mat-autocomplete #foodAC="matAutocomplete">
            <mat-option *ngFor="let option of foodACOptions | async" [value]="option.description"
                (onSelectionChange)="updateSelectedFood(option, $event)" class="food-ac-option">
                <div class="description">{{option.description}}</div>
                <div class="brand-owner">{{option.brandOwner}}</div>
            </mat-option>
        </mat-autocomplete>

        <ng-container *ngIf="foodCtrl.value">
            <!-- Unit -->
            <mat-form-field>
                <mat-label>Unit</mat-label>
                <!-- TODO: Add dynamic placeholder that is one of appropriate choices -->
                <!-- TODO: pu@ after adjusting the comboFood models -->
                <input matInput placeholder="pieces" formControlName="unit" [matAutocomplete]="unitAC">
            </mat-form-field>
            <mat-autocomplete #unitAC="matAutocomplete">
                <mat-optgroup *ngFor="let group of unitACOptions" [label]="group.groupLabel">
                    <mat-option *ngFor=" let option of group.groupOptions" [value]="option.value">
                        {{option.label}}
                    </mat-option>
                </mat-optgroup>
            </mat-autocomplete>
        </ng-container>
    </mat-card>
</ng-container>