* {
    --default-padding: 16px;


    // colors
    --cal-clr: rgb(53, 160, 253);
    --fat-clr: rgb(253, 216, 53);
    --carbohydrate-clr: rgb(67, 160, 71);
    --protein-clr: rgb(216, 67, 21);

    --cal-clr-light: rgba(53, 160, 253, .3);
    --fat-clr-light: rgba(253, 216, 53, .3);
    --carbohydrate-clr-light: rgba(67, 160, 71, .3);
    --protein-clr-light: rgba(216, 67, 21, .3);

    // section backgrounds
    --primary-section-background: white;
    --alternate-section-background: #f5f5f5;

    --invalid-background: rgba(255, 0, 0, .05);
}