mat-expansion-panel {
    font-size: .8rem
}

.panel-header-content{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;

    .description, .brand-owner {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .brand-owner {
        color: rgba(0,0,0,.54);
    }
}

.panel-body-content {
    display: grid;
    grid-template-columns: 34% 66%;
}

