.portion {
    display: flex;
    justify-content: flex-end;

    mat-form-field + mat-form-field {
        margin-left: 1ch;
    }

    .household-measure-amount {
        width: 5ch;
    }

    .household-measure-unit {
        width: 9ch;
        flex-grow: 1;
    }

    .household-measure-free-form {
        width: 15ch;
        flex-grow: 1;
    }

    .base-measure-amount {
        width: 6ch;
    }

    .base-measure-unit {
        width: 6ch;
    }
}


.split-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}